services:
  fiapcloudgames.payments.api:
    image: ${DOCKER_REGISTRY-}fiapcloudgamespaymentsapi
    build:
      context: .
      dockerfile: FiapCloudGames.Payments.API/Dockerfile
      
  db:
    image: mcr.microsoft.com/mssql/server
    environment:
      MSSQL_SA_PASSWORD: "Adm1n23%"
      ACCEPT_EULA: "Y"
    ports:
      - "1433:1433"
    volumes:
      - sql_data:/var/opt/mssql

  rabbitmq:
    image: rabbitmq:4.2.1-management
    container_name: rabbitmq
    ports:
      - "5672:5672"
      - "15672:15672"
    environment:
      RABBITMQ_DEFAULT_USER: admin
      RABBITMQ_DEFAULT_PASS: admin123
    volumes:
      - rabbitmq_data:/var/lib/rabbitmq
      
volumes:
  sql_data:
  rabbitmq_data:
    name: rabbitmq_volume
